<moov-hop-all-pages></moov-hop-all-pages>

<div>
    <h1> CRÉER UN COMPTE </h1>
    <h3 *ngIf="scanVisited==1">Déposez votre document d'identité sur le scanner</h3>
    <h3 *ngIf="scanVisited==2">Retournez votre document d'identité sur le scanner</h3>

    <section class="retourCamera">
        <section class="countdownSection" id="countdownSection">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/countdown.gif" alt="countdown" id="countdownAnimation">
            <p id="countdown">5</p>
        </section>

        <img *ngIf="scanVisited==1" id="capture" src="{{previewImageScanIdA}}" class="profileImg" loading="lazy">
        <img *ngIf="scanVisited==2" id="capture" src="{{previewImageScanIdB}}" class="profileImg" loading="lazy">

    </section>
</div>

<div id="loadingSection">
</div>
<img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/countdown.gif" alt=""  loading="lazy" id="loading">


<section id="whiteHide">
        
</section>