<moov-hop-all-pages></moov-hop-all-pages>
<div>
    <h1> CRÉER UN COMPTE </h1>
    <h3>Vérifiez et complétez vos informations !</h3>
    <div class="allElement">
        <form>
            <section>
                <label for="prenom"><b>Prénom</b></label>
                <input type="text" name="prenom"  [value]="firstname">
            </section>
            <br>
            <section>
                <label for="nom"><b>Nom</b></label>
                <input type="text" name="nom" [value]="name">
            </section>
            <br>
            <section>
                <label for="dateNaissance"><b>Date de naissance</b></label>
                <input type="text" name="dateNaissance" [value]="birthday" >
            </section>
            <br>
            <section>
                <label for="mail"><b>E-mail</b></label>
                <input type="email" name="email">
            </section>
        </form>
    </div>
    <div class="nextStep" routerLink="/EK80002024AGIR/createAccountFaceCapture">
        Etape Suivante
    </div>

</div>