<moov-hop-all-pages></moov-hop-all-pages>

<div><!--Après 10 secondes passer à la page suivante, remise de 20 % sur le total-->
    <h1>Coupon</h1>
    <h3>Scan the QR code given by your retailer!</h3>
    
    <section class="yourNeed">
        <section class="textPage">
        <p>Following your purchase at the "La Terrasse" shopping centre, your retailer has given you a QR code.
        </p>
        <p id="bold">Scan it on the kiosk to benefit from a discount!</p>

        <section class="textAdd" id="textAdd">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/Check.png" alt="" id="check" >
            <p class="AddScan" id="AddScan">Discount applied</p>
        </section>

        </section>
        <img src="./assets/MOOVHOP-EK4000-2023-RNTP/PictoBorne.png" alt="" id="borne" loading="lazy">
        
    </section>
    
</div>