<labizi-all-pages></labizi-all-pages>

<h1>J'insere ma carte vitale</h1>

<h2>pour m'identifier</h2>

<form>
    <label>Nom</label><br>
    <input type="text" name="vitaleName" #vitaleName disabled><br>
    <label>Prénom</label><br>
    <input type="text" name="vitaleFirstName" #vitaleFirstName disabled><br>
    <label>Date de naissance</label><br>
    <input type="text" name="vitaleBirth" #vitaleBirth disabled><br>
    <label>N° de sécurité sociale</label><br>
    <input type="text" name="vitaleId" #vitaleId disabled><br><br>
</form>

<div class="nextStep" >
    Étape suivante
</div>
<div class="nextStepContainer" routerLink="/labiziSelectQueue"></div>
