<div class="demoChoice demoSettings scrollable-container">
    <div class="containerDemo labiziChoice" routerLink="/labiziHomepage">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Labizi </h3>
        <p> Application de gestion de file pour laboratoire </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png">
    </div>

    <div class=" containerDemo moovHop8000Choice" routerLink="/moovHopHomepage">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop - version EK8000</h3>
        <p> Application transports - version complète </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"> 
    </div>

    <div class="containerDemo mwc4000Choice" routerLink="/homepageEK4000">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> MoovHop - version EK4000 </h3>
        <p> Application transports - version complète   </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png">
    </div>

    <div class="containerDemo moovHop1000Choice" routerLink="/moovopRecupCard">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop - version EK1000 </h3>
        <p> Démo transports - version simplifiée </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png">
    </div>

    <div class="containerDemo movistar3000Choice" routerLink="/ES/homePageTelefonica">
      <img src="./assets/DemoSKV2/Logo-movistar.png" class="demoImage">
      <div class="description">
        <h3> Movistar - version EK3000 </h3>
        <p> POC pour l'entreprise Telefonica (reconnaissance faciale) </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png">
    </div>

    <div class="containerDemo mwc4000Choice" routerLink="/MWC2024/homepage">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> MoovHop - version EK4000 </h3>
        <p> Application transports - version complète en anglais   </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png">
    </div>

    <div class="containerDemo mwc4000Choice" routerLink="/AGIR2024/homepage">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> MoovHop - version EK4000 - AGIR 2024 </h3>
        <p> Application transports - version complète - salon AGIR 2024   </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png">
    </div>

    <div class="containerDemo mwc4000Choice" routerLink="/EK80002024AGIR/homepage">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> MoovHop - version EK8000 - AGIR 2024</h3>
        <p> Application transports - version complète - salon AGIR 2024</p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png">
    </div>

  </div>
  