<moov-hop-all-pages></moov-hop-all-pages>
<h1>BIENVENUE !</h1>
<div class="container">
  <div class="row">
    <div routerLink="/EK80002024AGIR/buyChoice" (click)="ActionChoosed(1)">
      <img src="./assets/MOOVHOP-EK8000-2023-RNTP/USECASE_achat.png" alt="buy" loading="lazy">
    </div>
    <div routerLink="/EK80002024AGIR/createAccountMenu" (click)="ActionChoosed(2)">
      <img src="./assets/MOOVHOP-EK8000-2023-RNTP/USECASE_abonnement.png" alt="sub" loading="lazy">
    </div>
    <div routerLink="/EK80002024AGIR/reloadIdentification" (click)="ActionChoosed(3)">
      <img src="./assets/MOOVHOP-EK8000-2023-RNTP/USECASE_rechargement.png" alt="reload" loading="lazy">
    </div>
    
  </div>
</div>
