h1 {
  top: 22%;
  font-size: 4vw;
}

h2 {
  top: 30%;
  font-size: 3vw;
}

form {
  position: fixed;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form>label {
  font-family: 'AntipastoProMedium';
  font-size: 1.7vw;
  color: #1fd1d1;
  padding-left: 0.2vw;
}

input[type=text] {
  font-family: 'FreshFruit';
  font-size: 1.6vw;
  color: #080C71;
  padding-left: 4%;
  padding-bottom: 1.2%;
  background-color: #ccf5f5;
  border: none;
  border-radius: 1vw;
  width: 29vw;
  height: 2vw;
  margin-bottom: 0.7vw;
}

.nextStep {
  top: 88%;
  z-index: 0;
}

.nextStepContainer {
  height: 15%;
  top: 88%;
  z-index: 2;
}
