<div class="testIvqChoice scrollable-container testSettings">
    <div class="testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Lecteur de code bar </h3>
        <p> Lecture de code bar et affichage status en TR</p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" routerLink="/barcodeTest">
    </div>
    <div class="testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Formulaire </h3>
        <p> Formulaire avec utilisation du clavier virtuel et impression de documents </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" routerLink="/formTest">
    </div>
    <div class="testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Gallerie </h3>
        <p> Gallerie d'images </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" routerLink="/galleryTest">
    </div>
    <div class="testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Lumière </h3>
        <p> Allumage de la coiffe </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" routerLink="/lightTest">
    </div>
    <div class="testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> TouchPad </h3>
        <p> Dessinez en toute créativité </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" routerLink="/touchpadTest">
    </div>
    <div class="testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Sketchpad </h3>
        <p> Jouez avec une boule de papier </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/skecthpadTest">
    </div>
    <div class="testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Video Call </h3>
        <p> Appel virtuel pour tester les périphériques de sorties </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/videoCallTest">
    </div>
  </div>
