<moov-hop-all-pages></moov-hop-all-pages>
<h1>CREATE YOUR ACCOUNT</h1>
<h3>Log in with an identity document</h3>
<div class="container">
  <div class="row">
    <div href="" class="unSelectable">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/NewFormat.png" alt="id-new" loading="lazy">
    </div>
    <div href="" routerLink="/MWC2024/createAccountCamera">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/OldFormat.png" alt="id-old" loading="lazy">
    </div>
    <div href="" class="unSelectable">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/Passport.png" alt="passport" loading="lazy">
    </div>
  </div>
</div>