
<moov-hop-all-pages></moov-hop-all-pages>
<div>
    <h1>Merci de saisir</h1>
    <h3>Votre numéro de téléphone</h3>
    <div class="allElement">
        <form>
             <section>
                
                <input type="tel" placeholder="XX-XX-XX-XX-XX" id="num" name="num" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}">
            </section> 
            
        </form>
    </div>
   
    <div class="nextStep" id="validerNum" routerLink="/AGIR2024/paymentMobileOpValidation">
        Valider    
    </div>

</div>