<moov-hop-all-pages></moov-hop-all-pages>
<div>
  <h1> VOTRE BESOIN </h1>
  <div class="ticketContainer">
    <img id="t1" src="./assets/MoovHop/ticket-1.png" alt="ticket-1 image" (click)="ticketChoice(1)">
    <img id="t2" src="./assets/MoovHop/ticket-5.png" alt="ticket-5 image" (click)="ticketChoice(5)">
    <img id="t3" src="./assets/MoovHop/ticket-10.png" alt="ticket-10 image" (click)="ticketChoice(10)">
    <div class="ticketContainerText">
      <h2 class="ticketText"> 1€ </h2>
      <h2 class="ticketText"> 4€ </h2>
      <h2 class="ticketText"> 7€ </h2>
    </div>
    <div class="ticketContainerSubText">
      <p class="ticketSubText"> 1 ticket </p>
      <p class="ticketSubText"> 5 tickets </p>
      <p class="ticketSubText"> 10 tickets </p>
    </div>
  </div>
</div>
