.divBody {
  position: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url('../../../../assets/Labizi/LabiziBackground.png');
}

.skip {
  position: fixed;
  background-color: #1fd1d1;
  font-family: 'FreshFruit';
  text-align: center;
  z-index: 0;
  line-height: 2.2vw;
  font-size: 1.4vw;
  color: #fff;
  height: 2.2vw;
  width: 6.5vw;
  bottom: 0;
  right: 0;
  margin: 0.5vw;
  border-radius: 1vw;
  transform: translate(-50%, -50%);
}

// #skipContainer {
//   position: absolute;
//   transform: translate(-50%, -50%);
//   height: 6.5vw;
//   width: 10vw;
//   z-index: 2;
//   right: 0;
//   bottom: 0;
//   margin: 0.5vw;
//   background-color: transparent;
// }

.labiziLogo {
  position: fixed;
  margin-left: 10%;
  margin-top: 7%;
  background-color: transparent;
  opacity: 50%;
  border-radius: 5vw;
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 10vw;
}

// #labiziLogoContainer {
//   position: absolute;
//   background-color: transparent;
//   margin-left: 0%;
//   margin-top: 0%;
//   width: 20vw;
//   height: 10vw;
// }

.criticalService {
  position: fixed;
  display: flex;
  label {
    color: red;
    font-family: 'AntipastoProMedium';
  }
  left: 5%;
  top: 90%;
  text-align: center;
  width: 45%;
  height: 5%;
}

.notOkService {
  position: fixed;
  display: flex;
  label {
    color: black;
    font-family: 'AntipastoProMedium';
  }
  left: 5%;
  top: 82%;
  text-align: center;
  width: 45%;
  height: 5%;
}

.previousSkip {
  position: fixed;
  background-color: #1fd1d1;
  font-family: 'FreshFruit';
  text-align: center;
  line-height: 2.2vw;
  font-size: 1.4vw;
  color: #fff;
  height: 2.2vw;
  width: 6.5vw;
  bottom: 0;
  left: 0;
  margin: 0.5vw;
  border-radius: 1vw;
  transform: translate(-50%, -50%);
}

.select-container {
  display: flex;
  flex: 1.5 1;
  justify-content: space-between;
}

.select-settings {
  text-align: center;
}

.file-select {
  font-size: 20px;
  padding: 1%;
  width: 100%;
}

optgroup {
  font-weight: bolder;
  display: block;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
