<moov-hop-all-pages></moov-hop-all-pages>
<div>
  <h1> CRÉER UN COMPTE </h1>
  <h3>{{isScanFinished? "Scan finalisé" : "Photo prise"}}</h3>
    <img *ngIf="isScanFinished" id="preview"  class="img-fluid" [src]="previewImageScanId" />
    <img *ngIf="!isScanFinished" id="capture"  class="img-fluid" [src]="previewImageProfile" />
  <div class="nextStep" id="restartButton" routerLink="/createAccountCamera" (click)="resetVisits()">
    Recommencer
  </div>
  <div class="nextStep" id="confirmButton" routerLink="{{isScanFinished? '/createAccountPersonalInformations' : '/createAccountHello'}}" >
    {{isScanFinished? "Confirmer" : "Etape suivante"}} 
  </div>
  
</div>
