<moov-hop-all-pages></moov-hop-all-pages>
<h1>Choisissez</h1>
<h3>Votre titre de transport</h3>
<div class="container">
    <div class="row">
      <div routerLink="/RNTP2023/paymentChoice8000" >
        <img src="./assets/MOOVHOP-EK8000-2023-RNTP/AllerSimple.png" alt="simple" (click)="choose(1)" loading="lazy">
      </div>
      <div routerLink="/RNTP2023/paymentChoice8000" >
        <img src="./assets/MOOVHOP-EK8000-2023-RNTP/AllerRetour.png" alt="allerRetour"(click)="choose(2)" loading="lazy">
      </div>
      <div routerLink="/RNTP2023/paymentChoice8000">
        <img src="./assets/MOOVHOP-EK8000-2023-RNTP/Carnet10tickets.png" alt="10tickets"(click)="choose(10)" loading="lazy">
      </div>
    </div>
    <div class="row">
        <div routerLink="/RNTP2023/paymentChoice8000" >
          <img src="./assets/MOOVHOP-EK8000-2023-RNTP/Pass24H.png" alt="24H"(click)="choose(24)" loading="lazy">
        </div>
        <div routerLink="/RNTP2023/paymentChoice8000" >
          <img src="./assets/MOOVHOP-EK8000-2023-RNTP/Pass48h.png" alt="48H"(click)="choose(48)" loading="lazy">
        </div>
        <div routerLink="/RNTP2023/paymentChoice8000">
          <img src="./assets/MOOVHOP-EK8000-2023-RNTP/Pass72h.png" alt="72H"(click)="choose(72)" loading="lazy">
        </div>
      </div>
  </div>