<moov-hop-all-pages></moov-hop-all-pages>
<h1>BIENVENUE !</h1>
<div class="container">
  <div class="row">
    <div routerLink="/RNTP2023/buyChoice" (click)="ActionChoosed(1)">
      <img src="./assets/MOOVHOP-EK8000-2023-RNTP/USECASE_achat.png" alt="buy" loading="lazy">
    </div>
    <div routerLink="/RNTP2023/createAccountMenu8000" (click)="ActionChoosed(2)">
      <img src="./assets/MOOVHOP-EK8000-2023-RNTP/USECASE_abonnement.png" alt="sub" loading="lazy">
    </div>
    <div routerLink="/RNTP2023/reloadIdentification" (click)="ActionChoosed(3)">
      <img src="./assets/MOOVHOP-EK8000-2023-RNTP/USECASE_rechargement.png" alt="reload" loading="lazy">
    </div>
    
  </div>
</div>
