<moov-hop-all-pages></moov-hop-all-pages>
<div>
  <h1>SELECTIONNEZ</h1>
  <h3>Votre moyen de paiement !</h3>
  <div class="box" id="box1" routerLink="/moovHopReloadUseCaseCashPayment">
    <img src="./assets/MoovHop/pay-cash.png" alt="cash">
  </div>
  <div class="box" id="box2" routerLink="/moovHopReloadUseCaseQrCode">
    <img src="./assets/MoovHop/pay-mobile.png" alt="Alipay">
  </div>
  <div class="box" id="box3" routerLink="/moovHopReloadUseCaseCardPayment">
    <img src="./assets/MoovHop/pay-cb.png" alt="card">
  </div>
</div>
