<moov-hop-all-pages></moov-hop-all-pages>

<div>
    <h1> CRÉER UN COMPTE </h1>
    <h3>{{isScanFinished? "Déposez votre document d'identité sur le scanner" :"Positionnez-vous devant la caméra" }}
    </h3>

    <section class="retourCamera">
        <section class="countdownSection" id="countdownSection">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/countdown.gif" alt="countdown" id="countdownAnimation">
            <p id="countdown">5</p>
        </section>

        <img *ngIf="isScanFinished" id="loadingPreview" [src]="previewImageScanId" class="identityCard" loading="lazy">
        <img *ngIf="!isScanFinished" id="capture" [src]="previewImageProfile" class="profileImg" loading="lazy">

    </section>
</div>