<en-app-all-page-movistar></en-app-all-page-movistar>

<h1>Consent</h1>
<main>

    <p>
        Before we continue, will you give us your consent to store your selfie? <br>
        This way, as soon as biometric authentication is available, we will be able to automatically 
        validate that the face requested by the management is yours, that you are the owner.
    </p>

    <form action="">
        <div>
            <input type="radio" id="outline" class="custom-radio" name="consent" value="yes" style="height:40px; width:40px; vertical-align: middle;"> Yes, I consent<br>
        </div>
        <div>
            <input type="radio" id="outline" class="custom-radio" name="consent" value="no" style="height:40px; width:40px; vertical-align: middle;"> No, thank you<br>
        </div>
    </form>

    <p>
        Allowing the use of biometric data
    </p>

    <div id="continuarSection" (click)="saveData()">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Bouton-continue.png" alt=""  loading="lazy" id="continuar">
    </div>
</main>


<div id="loadingSection">

</div>
<img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/countdown.gif" alt=""  loading="lazy" id="loading">
