<moov-hop-all-pages></moov-hop-all-pages>
<div>
    <h1> CREATE YOUR ACCOUNT </h1>
    <h3>Check and complete your details!</h3>
    <div class="allElement">
        <form>
            <section>
                <label for="prenom"><b>First Name</b></label>
                <input type="text" name="prenom" value="Sylvain">
            </section>
            <br>
            <section>
                <label for="nom"><b>Last Name</b></label>
                <input type="text" name="nom" value="PERRIN">
            </section>
            <br>
            <section>
                <label for="dateNaissance"><b>Date of Birth</b></label>
                <input type="text" name="dateNaissance" value="14/05/83">
            </section>
            <br>
            <section>
                <label for="mail"><b>E-mail</b></label>
                <input type="text" name="mail">
            </section>
        </form>
    </div>
    <div class="nextStep" routerLink="/MWC2024/createAccountCamera">
        Next Step
    </div>

</div>