<labizi-all-pages></labizi-all-pages>

        <h1> Je scanne mon Qr code </h1>
        <h2> de confirmation de rendez-vous</h2>

    <div class="paragraphAndImage">
        <div class="descriptionParagraph">
            <p> Suite à votre prise de rendez-vous en ligne, <br> vous avez reçu un mail de confirmation <br> comprenant
                un QR
                CODE. </p>
            <p class="scannParagraph"> Scannez-le sur la borne !</p>
        </div>
            <img src="./assets/Labizi/Kiosk.png" class="kioskImage">
    </div>
