.desktop-6 {
  background-color: #ececec;
  height: 100%;
  width: 100%;
}

.container{
  background-color: #fff;
  height: 16.188vw;
  width: 16.188vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconsChoiceView{
  height: 9.115vw;
  width: 7.656vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
  margin-top: 20px;
}


.rectangle25 {
  left: 18.49vw;
  top: 8.49vw;
  position: absolute;
}

.rectangle29 {
  top: 19.531vw;
  left: 41.406vw;
  position: absolute;
}

.rectangle27 {
  top: 30.219vw;
  left: 18.49vw;
  position: absolute;
}

.rectangle28 {
  top: 30.219vw;
  left: 65.417vw;
  position: absolute;
}

.rectangle26 {
  top: 8.49vw;
  left: 65.417vw;
  position: absolute;
}

.rectangle23 {
  background-color: #ffffff;
  height: 4.323vw;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
}

.choisissezunevue {
  color: #000;
  text-align: center;
  font-size: 2vw;
  font-family: "MPlusRoundedBold";
  font-style: normal;
  transform: translate(-50%,-50%);
  left: 50vw;
  width: 35vw;
  height: 4vw;
  top: 1vw;
  position: absolute;
  z-index: 1;
  line-height: auto;
}

.utilisateur {
  color: #000;
  text-align: left;
  vertical-align: text-top;
  font-size: 2.5vw;
  font-family: "MPlusRoundedBold";
  width: 13.021vw;
  height: 3.698vw;
  position: absolute;
  top: 12vw;
  left: 1.5vw;
  line-height: auto;
}

.ivq {
  color: #000;
  text-align: left;
  vertical-align: text-top;
  font-size: 2.5vw;
  font-family: "MPlusRoundedBold";
  width: 4.219vw;
  height: 3.698vw;
  top: 12.5vw;
  left: 5.5vw;
  position: absolute;
  line-height: auto;
}

.technique {
  color: #000000;
  text-align: left;
  vertical-align: text-top;
  font-size: 2.5vw;
  font-family: 'MPlusRoundedBold';
  width: 11.927vw;
  height: 3.698vw;
  position: absolute;
  line-height: auto;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avancee {
  color: #000;
  text-align: center;
  vertical-align: text-top;
  font-size: 2.5vw;
  font-family: "MPlusRoundedBold";
  width: 11.972vw;
  height: 3.698vw;
  top: 12.8vw;
  position: absolute;
  left: 2vw;
  line-height: auto;
}

.technique2 {
  color: #000;
  text-align: center;
  vertical-align: text-top;
  font-size: 2.5vw;
  font-family: "MPlusRoundedBold";
  width: 11.927vw;
  height: 7.448vw;
  top: 10.5vw;
  left: 2vw;
  position: absolute;
  line-height: auto;
}

.marketing {
  color: #000;
  text-align: left;
  vertical-align: text-top;
  font-size: 2.5vw;
  font-family: "MPlusRoundedBold";
  width: 12.135vw;
  height: 3.698vw;
  top: 12vw;
  left: 2vw;
  position: absolute;
  line-height: auto;
}

.userIcons {

  left: 4.1vw;
  top: 2.8vw;

}

.marketingIcons {
  left: 3.5vw;
  top: 2vw;

}

.toolIcon {
  left: 3.219vw;
  top: 1.8vw;

}


.image12 {
  height: 9.792vw;
  width: 9.635vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  left: 69.219vw;
  top: 31.5vw;
  position: absolute;
}

.plusIcon {
  height: 4.323vw;
  width: 4.219vw;  
  left: 2.073vw;
  top: 2vw;
  position: absolute;
}


.logoIpmSection {
  background-color: #ffffff;
  height: 3vw;
  width: 5vw;
  padding: 0px;
  position: absolute;
  top: 7px;
  left: 0px;
}

.logoipm {
  width: 5vw;
}
