<div id='desktop-6' class='desktop-6'>
  <div class="main">
    <div class="allProfil">

      <div class="container">
        <div class="left">
          <div id="rectangle25" class="containerRectangle rectangle1 rectangle25" (click)="chooseView('user')">
            <img id="userIcons" class="iconsChoiceView userIcons" src="./assets/DemoSKV2/all-pages-icon/user.png" />
            <div id="user" class="user">Utilisateur</div>
          </div>
          <div id="rectangle27" class="containerRectangle rectangle4 rectangle27" (click)="chooseView('marketing')">
            <img id="marketingIcons" class="iconsChoiceView marketingIcons"
              src="./assets/DemoSKV2/all-pages-icon/salesman.png" />
            <div id="marketing" class="marketing">Marketing</div>
          </div>
        </div>
        <div class="right">
          <div id="rectangle27" class="containerRectangle rectangle2 rectangle26" (click)="chooseView('tech')">
            <img id="techIcons" class="iconsChoiceView toolIcon" src="./assets/DemoSKV2/all-pages-icon/tech.png" />
            <div id="tech" class="tech">Technique</div>
          </div>
          <div id="rectangle28" class="containerRectangle rectangle5 rectangle28" (click)="chooseView('advancedTech')">
            <img id="advancedTechIcons" class="iconsChoiceView toolIcon" src="./assets/DemoSKV2/all-pages-icon/tech.png" />
            <img id="plusIcon" class="plusIcon" src="./assets/DemoSKV2/all-pages-icon/plus.png" />
            <div id="advancedTech" class="advancedTech">Technique avancée</div>
          </div>
        </div>
        <div class="middle">
          <div id="rectangle29" class="containerRectangle rectangle3 rectangle29" (click)="chooseView('ivq')">
            <img id="ivqIcons" class="iconsChoiceView ivqIcons" src="./assets/DemoSKV2/all-pages-icon/ivq.png" />
            <div id="ivq" class="ivq">IVQ</div>
          </div>
        </div>
      </div>


      <!--<div id="rectangle25" class="container rectangle25" (click)="chooseView('user')"> <img id="userIcons"
          class="iconsChoiceView userIcons" src="./assets/DemoSKV2/all-pages-icon/user.png" />
        <div id="user" class="user">Utilisateur</div>
      </div>

      <div id="rectangle27" class="container rectangle27" (click)="chooseView('marketing')">
      </div>
      <div id="rectangle26" class="container rectangle26" (click)="chooseView('tech')">
        <img id="techIcons" class="iconsChoiceView toolIcon" src="./assets/DemoSKV2/all-pages-icon/tech.png" />
        <div id="tech" class="tech">Technique</div>
      </div>
      <div id="rectangle28" class="container rectangle28" (click)="chooseView('advancedTech')"> <img
          id="advancedTechIcons" class="iconsChoiceView toolIcon" src="./assets/DemoSKV2/all-pages-icon/tech.png" />
        <img id="plusIcon" class="plusIcon" src="./assets/DemoSKV2/all-pages-icon/plus.png" />
        <div id="advancedTech" class="advancedTech">Technique avancée</div>
      </div>
      <div id="rectangle29" class="container rectangle29" (click)="chooseView('ivq')"> <img id="ivqIcons"
          class="iconsChoiceView ivqIcons" src="./assets/DemoSKV2/all-pages-icon/ivq.png" />
        <div id="ivq" class="ivq">IVQ</div>
      </div>-->

    </div>
  </div>



  <!--<div id='rectangle25' class='container rectangle25' (click)="chooseView('user')">
    <img id='userIcons' class='iconsChoiceView userIcons'
      src='./assets/DemoSKV2/all-pages-icon/user.png' />

    <div id='utilisateur' class='utilisateur'>
      Utilisateur</div>
  </div>
  <div id='rectangle29' class='container rectangle29' (click)="chooseView('ivq')">
    <img id='ivqIcons' class='iconsChoiceView ivqIcons'
      src='./assets/DemoSKV2/all-pages-icon/ivq.png' />
    <div id='ivq' class='ivq'>
      IVQ</div>
  </div>
  <div id='rectangle27' class='container rectangle27' (click)="chooseView('marketing')">

    <img id='marketingIcons' class='iconsChoiceView marketingIcons'
      src='./assets/DemoSKV2/all-pages-icon/salesman.png' />
    <div id='marketing' class='marketing'>
      Marketing</div>
  </div>
  <div id='rectangle28' class='container rectangle28' (click)="chooseView('advancedTech')">


    <img id='toolIcon' class='iconsChoiceView toolIcon'
      src='./assets/DemoSKV2/all-pages-icon/tech.png' />

    <img id='plusIcon' class='plusIcon'
      src='./assets/DemoSKV2/all-pages-icon/plus.png' />

    <div id='avancee' class='avancee'>
      avancée</div>
    <div id='technique2' class='technique2'>
      Technique</div>
  </div>

  <div id='rectangle26' class='container rectangle26' (click)="chooseView('tech')">
    <img id='toolIcon' class='iconsChoiceView toolIcon'
      src='./assets/DemoSKV2/all-pages-icon/tech.png' />

    <div id='technique' class='technique'>
      Technique</div>
  </div>-->

  <div id='rectangle23' class='container rectangle23'>
    <h2 class="choisissezunevue"> Choisissez une vue: </h2>
  </div>

  <div id='logoIpmSection' class='logoIpmSection'>
    <img id='logoipm' class='logoipm' src='./assets/DemoSKV2/logoIPM.png' />
  </div>
</div>