<app-all-page-movistar></app-all-page-movistar>

<h1>Elige la tarifa prepago</h1>
<h3>que más te convenga</h3>
<div id="allPossibility">
    <div class="allPossibilityItems">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Habla-6.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Prepago-Plus.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems" >
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Prepago-Premium.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems" routerLink="/ES/fullPrepayment">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Prepago-Total.png" alt="" loading="lazy">
    </div>
</div>
