
<moov-hop-all-pages></moov-hop-all-pages>
<div>
    <h1> Please enter </h1>
    <h3>The security code received by SMS</h3>
    <div class="allElement">
        <form>
             <section>
                
                <input type="text"  >
            </section> 
            
        </form>
    </div>
    <div class="nextStep" id="ResetNum" routerLink="/MWC2024/paymentMobileOp">
        Change number
    </div>
    <div class="nextStep" id="validerNum" routerLink="/MWC2024/waitingScreenPrinting">
        Validate
    </div>

</div>