
<div>
    <h1 class="face" id="face" [style.display]=" scanVisited==1 ? 'block' : 'none'" >PRISE DE LA PHOTO DE PROFIL</h1>
    <h1 class="idCard" id="IdCardA" [style.display]=" scanVisited==2 ? 'block' : 'none'"  >SCAN RECTO CARTE D'IDENTITEE</h1>
    <h1 class="idCard" id="IdCardB" [style.display]=" scanVisited==3 ? 'block' : 'none'" >SCAN VERSO CARTE D'IDENTITEE</h1>
    <h3 class="idCard" [style.display]="this.errorScanIdCard ? 'block' : 'none'">Erreur de sauvegarde, représenter votre carte d'identité</h3>
    <h3 id="h3face" [style.display]=" scanVisited==1 ? 'block' : 'none'" >Positionnez-vous devant la caméra</h3>
    <h3 id="h3idCard" [style.display]=" scanVisited==2 || scanVisited==3 ? 'block' : 'none'" >Positionnez la carte devant la caméra</h3>

    <section class="retourCamera">
        <section class="countdownSection" id="countdownSection">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/countdown.gif" alt="countdown" id="countdownAnimation">
            <p id="countdown">{{countdown}}</p>
        </section>
        
        <img [style.display]=" scanVisited==1 ? 'block' : 'none'" id="previewA" [src]="previewImageProfile"  class="profileImg" >
        <img [style.display]=" scanVisited==2 ? 'block' : 'none'"  id="previewB" [src]="previewImageScanIdA"  class="profileImg">
        <img [style.display]=" scanVisited==3 ? 'block' : 'none'"  id="previewC" [src]="previewImageScanIdB"  class="profileImg" >
    </section>
  </div>
