<moov-hop-all-pages></moov-hop-all-pages>
<div class="rightZIndex">
  <h1> RECAPITULATIF </h1>
  <div routerLink="/moovHopBuyUseCaseSummary">
    <div class="ticketContainer">
      <h3 class="recapText">Ticket......................</h3>
      <h3 class="recapText">Quantité.................</h3>
      <h3 class="recapText">Total........................</h3>
      <h2 class="detailText">x{{ numberOfTicketsChoosedToDisplay }}</h2>
      <h2 class="detailText">x{{ numberOfTicketsChoosedToDisplay }}</h2>
      <h2 class="detailText" *ngIf="numberOfTicketsChoosedToDisplay !== 1">{{numberOfTicketsChoosedToDisplay === 5 ? 4 : 7}}€</h2>
      <h2 class="detailText" *ngIf="numberOfTicketsChoosedToDisplay === 1">1€</h2>
    </div>
    <div class="nextStep" routerLink="/moovHopReloadUseCaseSelectPayment">
      <!-- Etape suivante -->
      Payez
    </div>
  </div>
</div>
