<en-app-all-page-movistar></en-app-all-page-movistar>


<h1>Prepago Total</h1>
<h3 id="Subtitle">140 GB at 5G+ speed</h3>
<div id="info">
    <div id='left'>
        <img id="photo" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/photo.png" alt=""  loading="lazy">
    </div>
    <div id="right">
        <div id="promotion">
            <img id="imgPromotion" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Promotion.png" alt=""  loading="lazy">
            <div routerLink="/EN/wantContract">
                <img id="loQuiero" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Purchase.png" alt=""  loading="lazy">
            </div>
        </div>
        <div id="informations">
            <h3>Tariff details</h3>
            <div class="informationList">
                <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Picto-internet.png" alt=""  loading="lazy">
                <div>
                    <p class="titleDetails">
                        Mobile Internet and 5G+
                    </p>
                    <p class="description">35 GB + 105 GB of data at ultra-fast speeds and 5G+ coverage.</p>
                </div>
            </div>
            <div class="informationList">
                <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Picto-llamadas.png" alt=""  loading="lazy">
                <div>
                    <p class="titleDetails">
                        Calls
                    </p>
                    <p class="description">Unlimited national calls to landlines and mobiles.</p>
                </div>
            </div>
            <div class="informationList">
                <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Picto-roaming.png" alt=""  loading="lazy">
                <div>
                    <p class="titleDetails">
                        Roaming and international calls
                    </p>
                    <p class="description">Call and surf up to 19 GB as if you were in Spain in the EU. <br>
                        Check the Roaming and international calls tariffs.
                        
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>