<script src="https://cdn.form.io/js/formio.embed.js"></script>
<img src="./assets/DemoSKV2/logoIPM.png" class="logo" routerLink="/demoSKV2ChooseView" />

<main>
  <section id="doc">
    <section id="title">
      <section id="titleH1">
        <h1>{{ nomApp }}</h1>
      </section>
      <section id="showSection">
        <section>
          <button id="btnRead" (click)="showPopUp('Description')">Description ></button>
          <p class="descriptionParsed">{{parsedDescription}}</p>
        </section>
        <section>
          <button id="btnCode" (click)="showPopUp('Code')">Code ></button>
        </section>
      </section>
      <h3>{{hour}}</h3>  
    </section>
  </section>
  <section class="mainContent">
    <div id="left">
      <section id="parametre" *ngIf="parameters.length != 0">
        <h2>Paramètres :</h2>
        <div id="formio"></div>
        <div id="additionnalForm"></div>
      </section>
      <section id="startAndStop">
        <section class="section_test" *ngFor="let item of listStopFunction; let i = index">
          <section>
            <h3 id="userCaseTest1">{{ listComments[i] }}</h3>
          </section>
          <section class="btnSection">
            <button class="playBtn" id="playBtn_test_{{ i }}" (click)="callFunctionFromScript('start' + (i + 1), 'playBtn_test_' + i)">
              Run
            </button>
            <button class="stopBtn" id="stopBtn_test_{{ i }}" (click)="callFunctionFromScript('stop' + (i + 1), 'stopBtn_test_' + i)">
              Stop
            </button>
            <img src="./assets/DemoSKV2/all-pages-icon/resetLog.png" alt="" (click)="resetLogs(i)" class="resetImage">
            <button class="showImage" id="showImage_test_{{ i }}" (click)="showImageSection(i)" *ngIf="imageCapture[i]!=''">
              <img src="./assets/DemoSKV2/all-pages-icon/camera-video.png" alt="">
            </button>
          </section>
          <section class="LogTestAccordion log_test_{{ i }}">
            <section class="testLog_test">
              <section class="accordion" id="accordion_Logs_test_{{ i }}" (click)="showPanel('Logs_test_' + i)">
                <h2>Logs</h2>
                <div class="fleche fleche_Logs_test_{{ i }}"></div>
              </section>
              <div class="panel" id="panel_Logs_test_{{ i }}"></div>
            </section>
            <section class="ResultsLog_Results">
              <section class="accordion" id="accordion_Logs_Results_{{ i }}" (click)="showPanel('Logs_Results_test_' + i)">
                <h2>Results : <span id="last_Result_test_{{ i }}"></span></h2>
                <div class="fleche fleche_Logs_Results_test_{{ i }}"></div>
              </section>
              <div class="panel" id="panel_Logs_Results_test_{{ i }}"></div>
            </section>
          </section>
        </section>
      </section>
    </div>

    <div id="right">
      <section class="StopSessionReset">
        <button class="stopSession" id="stopSession" (click)="stopSession()">
          Fin de Session
        </button>
        <img src="./assets/DemoSKV2/all-pages-icon/resetLog.png" alt="" (click)="resetHistoricEvent()">
      </section>
      <section class="notFoundSection">
        <section id="serviceNotFound" *ngIf="undefinedServices.length!=0">
          <p>Service non trouvé : </p>
          <section>
            <span class="serviceNotFoundItem" *ngFor="let item of undefinedServices">{{ item }} </span>
          </section>
        </section>
        <section id="serviceNotFound" *ngIf="undefinedDevices.length!=0">
          <p>Device non trouvé : </p>
          <section>
            <span class="serviceNotFoundItem" *ngFor="let item of undefinedDevices">{{ item.device }} ({{item.service}}) </span>
          </section>
        </section>
      </section>
      <section>
        <div class="listStatus">
          <section>
            <mat-slide-toggle [(ngModel)]="showDiffOrHour" thumbLabel  class="custom-slide-toggle">
              Affiché : <span *ngIf="showDiffOrHour==true"> l'heure de reception </span> <span *ngIf="showDiffOrHour==false">la différence</span>
            </mat-slide-toggle>
          </section>
          <section *ngFor="let item of serviceUsed ; let i = index" class="logStatus">
            <section class="btnStatus accordion" [attr.id]="'accordion_' + item.service"
              (click)="showPanel(item.service)">
              <section class="titleServiceDeviceTest">
                <h3>
                  <span class="invisibleTitle"></span>
                  <section class="actualStatusService">
                    <!--  partie sur le status décommenter si besoin de remettre la colonne status
                    <span>
                      status
                    </span>-->
                    <span>
                      State
                    </span>
                    <span>
                      Status
                    </span>
                    <span>
                      Description
                    </span>
                  </section>
                </h3>
                <!-- ligne de titre pour l'état actuel du service  -->
                <h3 *ngIf="Kiosk[item.service].status!=undefined">
                  <span class="titleService">
                    {{ item.service }}
                  </span>
                  <section class="actualStatusService actualStatusServiceSection">  
                    <!-- partie sur le status décommenter si besoin de remettre la colonne status
                    
                    <ng-container *ngIf="actualStatusAllService[item.service].status == 'Ok'; else tempUnavailable">
                      <span [attr.id]="'status_' + item.service" class="serviceStatusTitleOk">
                        {{ actualStatusAllService[item.service].status }}
                      </span>
                    </ng-container>
                    <ng-template #tempUnavailable>
                      <ng-container *ngIf="actualStatusAllService[item.service].status == 'TempUnavailable'; else warning">
                        <span [attr.id]="'status_' + item.service" class="serviceStatusTitleTempUnavailable">
                          {{ actualStatusAllService[item.service].status }}
                        </span>
                      </ng-container>
                    </ng-template>
                    <ng-template #warning>
                      <ng-container *ngIf="actualStatusAllService[item.service].status == 'Warning'; else other">
                        <span [attr.id]="'status_' + item.service" class="serviceStatusTitleWarning">
                          {{ actualStatusAllService[item.service].status }}
                        </span>
                      </ng-container>
                    </ng-template>
                    <ng-template #other>
                      <span [attr.id]="'status_' + item.service" class="serviceStatusTitleOther">
                        {{ actualStatusAllService[item.service].status }}
                      </span>
                    </ng-template>-->
                    
                    <span class="changeEventSpan ">{{ actualStatusAllService[item.service].state }} </span>
                    <!-- à réactiver si besoin de remettre les changements de couleurs
                    <ng-template #processingStateServiceTitle >
                      <span class="changeEventSpan ProcessingState" *ngIf="actualStatusAllService[item.service].state=='Processing'  ;else otherStateServiceTitle" >{{ actualStatusAllService[item.service].state }} </span>
                      <ng-template #otherStateServiceTitle >
                        <span class="changeEventSpan">{{ actualStatusAllService[item.service].state }} </span>
                      </ng-template>
                    </ng-template>-->

                    <span [attr.id]="'state_' + item.service" class="okStatusDetailTitle" *ngIf="actualStatusAllService[item.service].status == 'Ok';else warningStatusDetailTitleService">
                      {{ actualStatusAllService[item.service].statusDetail }}
                    </span>
                    <ng-template #warningStatusDetailTitleService>
                      <span [attr.id]="'state_' + item.service" class="warningStatusDetailTitle" *ngIf="actualStatusAllService[item.service].status =='Warning'; else criticalStatusDetailTitleService">
                        {{ actualStatusAllService[item.service].statusDetail }}
                      </span>
                    </ng-template>
                    <ng-template #criticalStatusDetailTitleService>
                      <span [attr.id]="'state_' + item.service" class="criticalStatusDetailTitle" *ngIf="actualStatusAllService[item.service].status =='Critical'; else tempUnvalaibleStatusDetailTitleService">
                        {{ actualStatusAllService[item.service].statusDetail }}
                      </span>
                    </ng-template>
                    <ng-template #tempUnvalaibleStatusDetailTitleService>
                      <span [attr.id]="'state_' + item.service" class="tempUnvalaibleStatusDetailTitle" *ngIf="actualStatusAllService[item.service].status =='TempUnavailable'; else UnknownStatusDetailTitleService">
                        {{ actualStatusAllService[item.service].statusDetail }}
                      </span>
                    </ng-template>
                    <ng-template #UnknownStatusDetailTitleService>
                      <span [attr.id]="'state_' + item.service" class="UnknownStatusDetailTitle" >
                        {{ actualStatusAllService[item.service].statusDetail }}
                      </span>
                    </ng-template>
                    <span class="changeEventSpan" class="statusDescriptionHeader"><span *ngIf="actualStatusAllService[item.service].statusDescription!=''" (click)="showPupUpStatusDescription(actualStatusAllService[item.service])" >{{getShortenedStatusDescription(actualStatusAllService[item.service].statusDescription)}}</span></span>
                  </section>
                </h3>



                <!-- Ligne etat actuel du device-->
                <h3 *ngIf="item.device!= 'N/A' && Kiosk[item.service][item.device]!=undefined">
                  <span class="titleService">{{item.device}}</span>
                  <section class="actualStatusService actualStatusServiceSection">
                   <!--  partie sur le status décommenter si besoin de remettre la colonne status 
                    
                   <span [attr.id]="'status_' + item.device" class="deviceStatusTitleOk" *ngIf="actualStatusAllDevice[item.device].status=='Ok';else deviceStatusTitleTempUnavailable">
                      {{ actualStatusAllDevice[item.device].status }}
                    </span>
                    <ng-template #deviceStatusTitleTempUnavailable>
                      <span [attr.id]="'status_' + item.device" class="deviceStatusTitleTempUnavailable" *ngIf="actualStatusAllDevice[item.device].status=='TempUnavailable';else deviceStatusTitleWarning">
                        {{ actualStatusAllDevice[item.device].status }}
                      </span>
                      <ng-template #deviceStatusTitleWarning>
                        <span [attr.id]="'status_' + item.device" class="deviceStatusTitleWarning" *ngIf="actualStatusAllDevice[item.device].status=='Warning';else deviceStatusTitleOther">
                          {{ actualStatusAllDevice[item.device].status }}
                        </span>
                        <ng-template #deviceStatusTitleOther>
                          <span [attr.id]="'status_' + item.device" class="deviceStatusTitleOther">
                            {{ actualStatusAllDevice[item.device].status }}
                          </span>
                        </ng-template>
                      </ng-template>
                    </ng-template>-->

                    <span class="changeEventSpan" >{{ actualStatusAllDevice[item.device].state }} </span>
                    <span [attr.id]="'state_' + item.service" class="okStatusDetailTitle" *ngIf="actualStatusAllDevice[item.device].status == 'Ok';else warningStatusDetailTitle">
                      {{ actualStatusAllDevice[item.device].statusDetail }}
                    </span>
                    <ng-template #warningStatusDetailTitle>
                      <span [attr.id]="'state_' + item.service" class="warningStatusDetailTitle" *ngIf="actualStatusAllDevice[item.device].status =='Warning'; else criticalStatusDetailTitle">
                        {{ actualStatusAllDevice[item.device].statusDetail }}
                      </span>
                    </ng-template>
                    <ng-template #criticalStatusDetailTitle>
                      <span [attr.id]="'state_' + item.service" class="criticalStatusDetailTitle" *ngIf="actualStatusAllDevice[item.device].status =='Critical'; else tempUnvalaibleStatusDetailTitle">
                        {{ actualStatusAllDevice[item.device].statusDetail }}
                      </span>
                    </ng-template>
                    <ng-template #tempUnvalaibleStatusDetailTitle>
                      <span [attr.id]="'state_' + item.service" class="tempUnvalaibleStatusDetailTitle" *ngIf="actualStatusAllDevice[item.device].status =='TempUnavailable'; else UnknownStatusDetailTitle">
                        {{ actualStatusAllDevice[item.device].statusDetail }}
                      </span>
                    </ng-template>
                    <ng-template #UnknownStatusDetailTitle>
                      <span [attr.id]="'state_' + item.service" class="UnknownStatusDetailTitle" >
                        {{ actualStatusAllDevice[item.device].statusDetail }}
                      </span>
                    </ng-template>
                    <span class="statusDescriptionHeader"><span *ngIf="actualStatusAllDevice[item.device].statusDescription!=''" (click)="showPupUpStatusDescription(actualStatusAllDevice)" >{{getShortenedStatusDescription(actualStatusAllDevice[item.device].statusDescription)}}</span></span>
                  </section>
                </h3>
              </section>
              <div [attr.class]="'fleche fleche_' + item.service"></div>
            </section>

            <!-- ligne afficher lors d'un changement de state d'un service/device -->
            <div [attr.id]="'panel_' + item.service" class="panel panelInformations">
              <div *ngFor="let statusHistory of historicEvent[item.service]">
                <div *ngIf="statusHistory.state!=undefined;else statusPart" class="logEventStatusElement">
                  <span class="hourEventSpan" >{{ statusHistory.hourEvent }}</span>
                  <span class="hourReceipSpan" *ngIf="showDiffOrHour==true">{{ statusHistory.hourReceiptEvent }} </span>
                  <span class="hourReceipSpan"*ngIf="showDiffOrHour==false">+{{statusHistory.diffHourReceiptHourEvent}}</span>
                  <span class="componentSpan">{{statusHistory.component}}</span>
                  <section class="statusHistorySection">
                    <span class="changeEventSpan ">{{ statusHistory.state }} </span>
                    <span class="changeEventSpan"></span>
                    <span class="changeEventSpan"></span>
                  </section>
                </div>
                <!-- ligne afficher lors d'un changement de status d'un service/device -->
                <ng-template #statusPart>
                  <div class="logEventStatusElement" id="statusPart">
                    <span class="hourEventSpan">{{ statusHistory.hourEvent }}</span>
                    <span class="hourReceipSpan" *ngIf="showDiffOrHour==true">{{ statusHistory.hourReceiptEvent }} </span>
                    <span class="hourReceipSpan" *ngIf="showDiffOrHour==false">+{{statusHistory.diffHourReceiptHourEvent}}</span>
                    <span class="componentSpan">{{statusHistory.component}}</span>
                    <section class="statusHistorySection">
                      <!-- partie sur le status décommenter si besoin de remettre la colonne status
                      <span class="changeEventSpan okStatus" *ngIf="statusHistory.status=='Ok' ;else TempAvailableStatus">{{ statusHistory.status }} </span>
                      <ng-template #TempAvailableStatus>
                        <span class="changeEventSpan tempAvailableStatus" *ngIf="statusHistory.status=='TempUnavailable' ;else WarningStatus">{{ statusHistory.status }} </span>
                        <ng-template #WarningStatus>
                          <span class="changeEventSpan warningStatus" *ngIf="statusHistory.status=='Warning' ;else OtherStatus">{{ statusHistory.status }} </span>
                          <ng-template #OtherStatus>
                            <span class="changeEventSpan otherStatus" >{{ statusHistory.status }} </span>
                          </ng-template>
                        </ng-template>
                      </ng-template>-->
                      <span class="changeEventSpan"></span>
                      <span class="changeEventSpan okStatus" *ngIf="statusHistory.statusDetail=='Ok' ;else TmpAvailableStatus">{{ statusHistory.statusDetail }} </span>
                      <ng-template #TmpAvailableStatus>
                        <span class="changeEventSpan tempAvailableStatus" *ngIf="statusHistory.statusDetail=='TempUnavailable' ;else WarningStatus">{{ statusHistory.statusDetail }} </span>
                        <ng-template #WarningStatus>
                          <span class="changeEventSpan warningStatus" *ngIf="statusHistory.statusDetail=='Warning' ;else CriticalStatus">{{ statusHistory.statusDetail }} </span>
                          <ng-template #CriticalStatus>
                            <span class="changeEventSpan criticalStatus" *ngIf="statusHistory.statusDetail=='Warning' ;else UnknowStatus">{{ statusHistory.statusDetail }} </span>
                            <ng-template #UnknowStatus>
                              <span class="changeEventSpan UnknownStatusDetailTitle" >{{ statusHistory.statusDetail }} </span>
                            </ng-template>
                          </ng-template>
                          
                        </ng-template>
                      </ng-template>
                      <span class="changeEventSpan"><span *ngIf="statusHistory.statusDescription!=''" (click)="showPupUpStatusDescription(statusHistory)" >{{getShortenedStatusDescription(statusHistory.statusDescription)}}</span></span>
                    </section>
                  </div>
                </ng-template>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>
</main>

<!-- Pop Up pour la description du test -->
<div id="popUpDescriptionPage"></div>
<div id="popUpDescription">
  <h2 id="titlePopUpDescription">Description</h2>
  <p id="idDescription">
    {{ description }}
  </p>
  <img class="crossPopUp" src="./assets/DemoSKV2/all-pages-icon/cross.png" alt="" (click)="closePopUp('Description')" />
</div>

<!-- Pop Up pour visionner le code du test-->
<div id="popUpCodePage"></div>
<div id="popUpCode">
  <h2 id="titlePopUpCode">Code du test </h2>
  <pre><code class="language-js">
    {{code}}
  </code></pre>
  <img class="crossPopUp" src="./assets/DemoSKV2/all-pages-icon/cross.png" alt="" (click)="closePopUp('Code')" />
</div>

<!-- Pop Up dragable pour visionner le retour vidéo du test -->
<img src="./assets/DemoSKV2/back.png" alt="" (click)="backToChooseView()" class="icons" id="backIcon" />
<section class="section_test" *ngFor="let item of listStopFunction; let i = index">
  <div class="resultImageClass" id="resultImage{{i}}" cdkDrag *ngIf="imageCapture[i]!=''" (click)="closeImagePopUp('resultImage'+i)">
    <h2>Retour de l'image du test n°{{i+1}}</h2>
    <img [src]=" imageCapture[i]" alt="">
  </div>
</section>


<!-- Pop Up dragable pour visionner le status Description du service ou du device -->
<section class="section_test" >
  <div class="resultImageClass" id="statusDescriptionPopUp" cdkDrag (click)="showPupUpStatusDescription({})">
    <h2>StatusDescription de <i>{{dataToShow.device}}</i> à <i *ngIf="dataToShow.hourReceiptEvent!=''"> {{dataToShow.hourReceiptEvent}}</i></h2>
    <p *ngIf="dataToShow.statusDescription!='',else noStatusDescription">
      {{dataToShow.statusDescription}}
    </p>
    <ng-template #noStatusDescription>
      <p style="text-align: left;">
        Pas de StatusDescription
      </p>
    </ng-template>
  </div>
</section>