<moov-hop-all-pages></moov-hop-all-pages>
<div>
  <h1> VOTRE ACHAT </h1>
  <img src="./assets/MoovHop/info-pass.png" alt="info-pass" class="info-pass">
  <h3>Voyagez sur toutes<br>les lignes de bus,<br>tramway et métro<br>de Paris !</h3>
  <div class="rightDiv">
    <h1 class="price">1€</h1>
    <h3 class="subText"><b>Achetez votre pass maintenant<br>et payez vos voyages le mois<br>prochain au meilleur prix !</b>
    </h3>
  </div>
  <div class="nextStep" routerLink="/moovHopBuyUseCaseSelectPaymentTwo">
    Étape suivante
  </div>
</div>
