h1 {
  font-size: 4.5vw;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-size: 1.5vw;
  position: absolute;
  font-family: GothamLight;
  top: 25%;
  width: 45%;
  height: 50%;
  left: 38%;
  transform: translate(-50%, 50%);
  text-align: center;
}

img {
  position: fixed;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.rightDiv {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 59%;
  width: 59%;
}

.rightDiv h1.price {
  color: #A9E7F7;
  font-size: 3.5vw;
  position: fixed;
  top: 49%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.rightDiv h3.subText {
  font-size: 1.4vw;
  color: #a9e7f7;
  left: 73%;
  width: 45%;
  height: 50%;
  top: 84%;
  transform: translate(-50%, -50%);
}

.nextStep {
  background-color: #A6ED8E;
  width: 13vw;
  height: 5%;
  position: fixed;
  top: 85%;
  left: 50%;
  font-family: GothamLight;
  transform: translate(-50%, -50%);
  border-radius: 0.5vw;
  text-align: center;
  line-height: 2.5vw;
  font-size: 1.4vw;
  color: #000;
}
