<!-- <body>
    <ul class="menu" [ngClass]="{'active' : isActive}">
        <div class="toggle" [ngClass]="{'active' : isActive}" (click)="isActive = !isActive"><i id="add" class="material-icons" style="font-size: 6vw; visibility: hidden;"> add </i></div>
        <li *ngFor="let menuItem of menu; let menuIndex = index" (click)="selectedItem = menuItem.icon" style="--i:{{menuIndex}};" [ngClass]="{'active' : menuItem.icon === selectedItem}" class="active"><a href="#" [routerLink]="'../' + menuItem.route"><i class="material-icons" style="font-size: 4vw;"> {{menuItem.icon}}  </i></a></li>
        <div class="indicator">
        </div>
    </ul>

</body>
 -->
