<moov-hop-all-pages></moov-hop-all-pages>
<div>
  <h1> CRÉER UN COMPTE </h1>
  <h3>Vérifier et complétez vos informations !</h3>
  <form>
    <label for="prenom"><b>Prénom</b></label>
    <input type="text" name="prenom" value="Sylvain">
    <br>
    <label for="nom"><b>Nom</b></label>
    <input type="text" name="nom" value="PERRIN">
    <br>
    <label for="dateNaissance"><b>Date de naissance</b></label>
    <input type="text" name="dateNaissance" value="14/05/83">
    <br>
    <label for="mail"><b>E-mail</b></label>
    <input type="text" name="mail">
  </form>
  <div class="nextStep" routerLink="/moovHopBuyUseCaseYourPurchase">
    Confirmer
  </div>
</div>
