<moov-hop-all-pages></moov-hop-all-pages>
<h1>Welcome !</h1>
<div class="container">
  <div class="row">
    <div routerLink="/MWC2024/createAccountMenu" (click)="Choix(1)">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-MoovHopSub.png" alt="sub" loading="lazy">
    </div>
    <div routerLink="/MWC2024/printingMenu" (click)="Choix(2)">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-timetablePRINT.png" alt="print" loading="lazy">
    </div>
    <div routerLink="/MWC2024/identificationMenu" (click)="Choix(3)">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-finePayment.png" alt="pay" loading="lazy">
    </div>
  </div>
</div>

