<div class="featuresChoice featureSettings scrollable-container">
    <div class="containerDemo testChoice" (click)="ChooseScript('BarcodeReading')">
      <img src="./assets/DemoSKV2/all-pages-icon/codeIcons.png" class="demoImage">
      <div class="description">
        <h3> BarcodeReding </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" >
    </div>
    <div class="containerDemo testChoice" (click)="ChooseScript('DocumentScanning')">
      <img src="./assets/DemoSKV2/all-pages-icon/codeIcons.png" class="demoImage">
      <div class="description">
        <h3> DocumentScanning </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" >
    </div>
    <div class="containerDemo testChoice" (click)="ChooseScript('CardPayment_Debit')">
      <img src="./assets/DemoSKV2/all-pages-icon/codeIcons.png" class="demoImage">
      <div class="description">
        <h3> CardPayment_Debit </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" >
    </div>
    <div class="containerDemo testChoice" (click)="ChooseScript('DocumentPrinting')">
      <img src="./assets/DemoSKV2/all-pages-icon/codeIcons.png" class="demoImage">
      <div class="description">
        <h3> DocumentPrinting </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" >
    </div>
    
  </div>