<main>
  <section class="searchElement">
    <h2> Rechercher un test :</h2> 
    <input type="text" name="searchTest" id="searchTextId" (input)="onSearch($event)">
    <section id="selecttypeResearch">
      <label for="typeResearch">Type de recherche :</label>
      <select name="typeResearch" id="typeResearch" (change)="onSearch($event)">
        <option value="title">Titre</option>
        <option value="description">Description</option>
        <option value="service">Service Principal</option>
      </select>
    </section>
  </section>
  
  <div class="featuresChoice featureSettings scrollable-container">
    <p *ngIf="missing.length != 0">
      Les features suivante n'ont pas été trouvés :
      <span class="notVerifiedElement">{{missing_text}}</span>
    </p>
    <div *ngFor="let item of verifiedFeatureListFiltered" class="containDemo testChoice"
      (click)="ChooseScript(item.feature)">
      <div class="serviceTestSection">
        <h3 class="serviceTest">{{item.service}}</h3>
      </div>
      <div class="description">
        <h3>{{ item.title }}</h3>
        <h4>{{item.description}}</h4>
      </div>
      <div>
        <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" />
      </div>
    </div>
    <div class="containDemo testChoice" routerLink="/virtualKeyboardFeature">
      <div class="serviceTestSection">
        <img src="./assets/DemoSKV2/all-pages-icon/keyboard.png" class="demoImage" />
      </div>
      <div class="description">
        <h3>Virtual_Keyboard</h3>
      </div>
      <div>
        <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" />
      </div>
    </div>
  </div>
</main>