<div class="featuresChoice featureSettings scrollable-container">
    <div class="containerDemo testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Labizi - scan de qr code </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" routerLink="/labiziQrCode">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Labizi - Paiment simulé </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" routerLink="/labiziPay">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Labizi - Lecture de carte vitale </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/labiziCarteVitale">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Labizi - impression de reçu (suite à un paiement) </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/labiziValidatedPayment">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop version EK1000 - scan de qr code </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" routerLink="/moovopQrCode">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop version EK1000 - distribution de carte RFID </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/moovopCongratulations">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop version EK8000 - distribution de carte RFID </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/moovHopBuyUseCaseCongratulationsTwo">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop version EK8000 - Impression de tickets </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/moovHopBuyUseCaseCongratulations">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop version EK8000 - formulaire d'utilisation du clavier </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/moovHopBuyUseCaseCreateAccForm">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop version EK8000 - Scan de carte d'identité (ancien format) </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/moovHopBuyUseCaseOlderCIScan">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop version EK8000 - Scan de carte d'identité (nouveau format) </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/moovHopBuyUseCaseNewerCIScan">
    </div>
    <div class="containerDemo testChoice">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop version EK8000 - Lecture de carte RFID </h3>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        routerLink="/moovHopRealoadUseCaseConnection">
    </div>
  </div>