h1{
    top:32%;
    font-size: 4vw;
    width: 43%;
    text-align: center;
}

h2{
    top:47%;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

img{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 10vw;
}

