<div class="containerHomepage">
    <!-- TITLE -->
    <div class="content">
        <h2 id="title1">SoftkioskV2</h2>
        <h2 id="title2">SoftkioskV2</h2>
    </div>

    <!-- BUTTON 
    <ul class="tg-list">
        <li class="tg-list-item" id="button"  >
            <input class="tgl tgl-flip" id="cb5" type="checkbox" /><label class="tgl-btn" routerLink="/demoSKV2ChooseView" data-tg-off="CLIQUEZ ICI"
                data-tg-on="C'EST PARTI !" for="cb5"></label>
        </li>
    </ul>-->

    <section id="btnClickHere" routerLink="/demoSKV2ChooseView">
        <a id="clickHere">CLIQUEZ ICI</a>
    </section>


</div>
