<a id="goToDemo" (click)="returnToDemo()">
</a>

<img id="diapo" src="" alt="">
<div id="previous" (click)="previousDiapo()">

</div>
<div id="next" (click)="nextDiapo()">

</div>

<div class="PopUpError" id="PopUpErrorSection" (click)="showPopUp()"></div>
<!-- affichage services en status critical -->
<div id="moovHopCriticalService">
    <h3>Erreur : </h3>
    <button id="closeBTN" (click)="closePopUp()">Fermer</button>

    <div id="PopUpAlertRestart">
        <!-- affichage services en status critical -->
        <div id="Error">
            <ul>
                <li id="stringServiceStatusCritical" *ngFor="let item of allActualServicesStatus">
                  <ng-container [ngSwitch]="item.status">
                    <label *ngSwitchCase="'Ok'" class="moovHopGoodServices" id="stringServiceStatusCriticallabel">
                      {{item.service}} : {{item.status}} <span *ngIf="item.statusDetail!=''">({{item.statusDetail}})</span>
                    </label>
                    <label *ngSwitchCase="'Warning'" class="moovHopWarningServices" id="stringServiceStatusCriticallabel">
                      {{item.service}} : {{item.status}} <span *ngIf="item.statusDetail!=''">({{item.statusDetail}})</span>
                    </label>
                    <label *ngSwitchCase="'TempUnavailable'" class="tempUnavailableService" id="stringServiceStatusCriticallabel">
                      {{item.service}} : {{item.status}} <span *ngIf="item.statusDetail!=''">({{item.statusDetail}})</span>
                    </label>
                    <label *ngSwitchDefault class="moovHopErrorService" id="stringServiceStatusCriticallabel">
                      {{item.service}} : {{item.status}} <span *ngIf="item.statusDetail!=''">({{item.statusDetail}})</span>
                    </label>
                  </ng-container>
                  
                </li>
            </ul>
        </div>
        <div style="width: 100%; display: flex;justify-content: space-around; flex-wrap: wrap;">
            <button (click)="restart()">Redémarrer</button>
            <button id="btnManualCard" (click)="changePayment()">Paiement Manuel</button>
            <button (click)="retourDemoskV2()">Retour à DEMOSKV2</button>
        </div>

    </div>
</div>