<app-all-page-movistar></app-all-page-movistar>
<main *ngIf="identityValidate">
    <h1>Verificación de identidad completada</h1>
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Check.png" alt="" loading="lazy">
    <div>
        <p>Te guiaremos en los siguientes pasos</p>
        <p>No cierres esta página</p>
    </div>
    
</main>
<main *ngIf="!identityValidate">
    <h1>Toma de fotografías no conforme</h1>
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/ko.png" alt="" loading="lazy">
    <div>
        <p>Por facor, repita el procedimiento</p>
        <p>No cierres esta página</p>
    </div>
    
</main>
