<div>
    <h1> CRÉER UN COMPTE </h1>
    <h3>Vérifiez et complétez vos informations !</h3>
    <div class="allElement">
        <form>
            <section>
                <label for="name"><b>Nom et Prénom</b></label>
                <input type="text" name="name" id="name">
            </section>
            <br>
            <section>
                <label for="tel"><b>Numéro de téléphone</b></label>
                <input type="tel" id="tel" name="tel">
            </section>
        </form>
    </div>
    <button class="nextStep" (click)="createUser()" id="next">
        Etape Suivante
    </button>
</div>