<moov-hop-all-pages></moov-hop-all-pages>


<h1> Choisissez </h1>
<h3>Votre abonnement ! </h3>
<div class="container">
    <section class="row">
        <div href="" routerLink="/AGIR2024/createAccountQRCodeYesNo">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/Abonnement1SEM.png" alt="1 semaine" (click)="chooseSubscription(1)" loading="lazy">
        </div>
        <div href="" routerLink="/AGIR2024/createAccountQRCodeYesNo">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/Abonnement1MOIS.png" alt="1 mois" (click)="chooseSubscription(2)" loading="lazy">
        </div>
        <div href="" routerLink="/AGIR2024/createAccountQRCodeYesNo">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/Abonnement1AN.png" alt="1 an" (click)="chooseSubscription(3)" loading="lazy">
        </div>
    </section>

</div>