<moov-hop-all-pages></moov-hop-all-pages>


<h1> Choose </h1>
<h3>Your subscription! </h3>
<div class="container">
    <section class="row">
        <div href="" routerLink="/MWC2024/createAccountQRCodeYesNo">
            <img src="./assets/MOOVHOP-EK4000-2024-MWC/1-week-subcription.png" alt="1 semaine" (click)="chooseSubscription(1)" loading="lazy">
        </div>
        <div href="" routerLink="/MWC2024/createAccountQRCodeYesNo">
            <img src="./assets/MOOVHOP-EK4000-2024-MWC/1-mounth-subcription.png" alt="1 mois" (click)="chooseSubscription(2)" loading="lazy">
        </div>
        <div href="" routerLink="/MWC2024/createAccountQRCodeYesNo">
            <img src="./assets/MOOVHOP-EK4000-2024-MWC/1-year-subscription.png" alt="1 an" (click)="chooseSubscription(3)" loading="lazy">
        </div>
    </section>

</div>