
<moov-hop-all-pages></moov-hop-all-pages>
<div>
    <h1> Merci de saisir</h1>
    <h3>le code de sécurité reçu par SMS</h3>
    <div class="allElement">
        <form>
             <section>
                
                <input type="text"  >
            </section> 
            
        </form>
    </div>
    <div class="nextStep" id="ResetNum" routerLink="/RNTP2023/paymentOpMobile">
        Changer de numéro
    </div>
    <div class="nextStep" id="validerNum" routerLink="/RNTP2023/waitingScreen">
        Valider
    </div>

</div>