<moov-hop-all-pages></moov-hop-all-pages>
<h1>Print </h1>
<h3>The timetable for the line of your choice</h3>
<div class="container">
  <div class="row">
    <div routerLink="/MWC2024/printingInformationChoice"><img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-line1.png" alt="1" (click)="Choose(1)" loading="lazy"></div>
    <div routerLink="/MWC2024/printingInformationChoice"><img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-line2.png" alt="2" (click)="Choose(2)" loading="lazy"></div>
    <div routerLink="/MWC2024/printingInformationChoice"><img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-line3.png" alt="3" (click)="Choose(3)" loading="lazy"></div>
    <div routerLink="/MWC2024/printingInformationChoice"> <img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-line4.png" alt="4" (click)="Choose(4)" loading="lazy"></div>
  </div>
</div>