<app-all-page-movistar></app-all-page-movistar>

<h1>Quiero contratar</h1>
<h3>Prepago Total</h3>
<main>
    <div id="left">
        <h2>Siguientes pasos</h2>

        <p>Para cumplir con la legislación vigente, es necesario verificar tu identidad. Para ello necesitarás:</p>
        <ul>
            <li>Un documento de identidad original con fotografía</li>
            <li>Hacerte un selfi</li>
            <li>Rellenar tus datos personales</li>
        </ul>
        <p>Tras estos pasos obtendrás tu tarjeta SIM o eSIM para empezar a hablar y navegar con Movistar.</p>
    </div>
    <div id="right">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Resumen-compra-slide3&15.png" alt="" loading="lazy">
    </div>
</main>
<p id="Bienvenidos">¡Bienvenidos a Movistar!</p>
<div routerLink="/ES/homeCheckIdentity" id="loquieroSection">
    <img id="loquieroBtn" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Bouton-contratar.png" alt="" loading="lazy">
</div>