<app-all-page-movistar></app-all-page-movistar>

<h1>Sigue las instrucciones del terminal de pago </h1>
<h3>para completar tu compra. </h3>
<section id="countdownSection">
    <h3>{{countdown}}</h3>
    <img  id="countdown" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/countdown.gif" alt="" loading="lazy">
</section>
<main>
    
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/TPE.png" alt="" id="TPE" loading="lazy">
    <h2 style="margin-top: auto;">
        Importe: <br> 20,00 €
    </h2>
</main>