.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
    vertical-align: middle;
    bottom: 10%;
    margin: 0% 20%;
    gap: 10%;
}
.container div  {
    flex: 1; 
    z-index: 1;
}

.container div img {
    width: 100%; 
}

#JaiRdv {
    margin-bottom: 4%;
}

#JePrendsRdv {
    margin-top: 7%;
}