<moov-hop-all-pages></moov-hop-all-pages>

<h1>ITINERARY</h1>
<h3>Select your route and period</h3>

<div class="container-radio">
  
  <img src='./assets/MOOVHOP-EK4000-2024-MWC/thermo.png' alt="" loading="lazy">
  <div class="allInput">
    <div *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]">
      <div class="radio-box">
        <input class="radio" type="checkbox" id="radio{{number}}" name="radio" [value]="number" (change)="limitSelection($event)">
        <label for="radio{{number}}"></label>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <img id="period-header" class="headers" src="./assets/MOOVHOP-EK4000-2024-MWC/period.png" alt="header" loading="lazy">
  <div class="button-container">
    
    
      <button id="week-button" [className]="selected ? 'selected' : 'buttonPeriod'" (click)="Selected($event)" >Week</button>
      <button id="week-end-button" [className]="selected2 ? 'selected' : 'buttonPeriod'" (click)="Selected($event)">Week-End</button>
      <button id="holydays-button" [className]="selected3 ? 'selected' : 'buttonPeriod'" (click)="Selected($event)" >School Holidays</button>
  </div>

  
  <button id="next-button" class="NextStep" id="NextStep"  routerLink="/MWC2024/printingMethodsGettingTimetable"  >Next Step</button>
  <button id="next-button" class="NextStep" id="NextStepFalse" >Next Step</button>  

</div>