<!--    <img src="../assets/logoIPM.png" alt="IPM France" id="logo">


    <a href="https://www.ipmfrance.fr/" id="ipmLink"> By IPM France </a>
 -->


<div class="picture">
    <div class="container">


        <!-- première ligne -->
        <!-- <div *ngFor="let row of arrayCheck" class="row">
            <ng-container *ngFor="let element of row | keyvalue">
                <label class="btn" for="btnControl"> <img src="../../../../assets/DemoSKV2/animals/{{element.value}}"
                        (click)="onclickImage(element.key)" id="{{element.key}}" [ngClass]="{'hide': checked && checked !== element.key, 'selected': checked === element.key}">
                </label>
            </ng-container>
        </div> -->


    </div>

</div>
