<en-app-all-page-movistar></en-app-all-page-movistar>


<h1>Choose the prepaid tariff</h1>
<h3> that suits you best</h3>
<div id="allPossibility">
    <div class="allPossibilityItems">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Habla-6-EN.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Prepago-Plus-EN.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems" >
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Prepago-Premium-EN.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems" routerLink="/EN/fullPrepayment">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Prepago-Total-EN.png" alt="" loading="lazy">
    </div>
</div>
