<div id="divBtnLanguage">
    <div routerLink="/ES/homePageTelefonica">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/spain.png" alt="">
    </div>
    <div routerLink="/EN/homePageTelefonica">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/england.png" alt="">
    </div>
</div>
<div class="main">
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Logo-movistar.png" alt="" id="movistarTitle">
    <h1>¿Buscas una SIM prepago Movistar?</h1>
    <h2>Selecciona la tarifa que mejor se adapte a ti y consigue tu SIM Movistar al momento</h2>
    <div routerLink="/ES/prepaidTariffs" id="divBtnInteresa">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Bouton-me-interesa.png" alt="" id="btnInteresa">
    </div>
</div>