<div id="divBtnLanguage">
    <div routerLink="/ES/homePageTelefonica">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/spain.png" alt=""  loading="lazy">
    </div>
    <div routerLink="/EN/homePageTelefonica">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/england.png" alt=""  loading="lazy">
    </div>
</div>
<div class="main">
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Logo-movistar.png" alt=""  loading="lazy" id="movistarTitle">
    <span class="title">¿Buscas una SIM prepago Movistar?</span>
    <h2>Selecciona la tarifa que mejor se adapte a ti y consigue tu SIM Movistar al momento</h2>
    <div routerLink="/ES/prepaidTariffs" id="divBtnInteresa">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Bouton-me-interesa.png" alt=""  loading="lazy" id="btnInteresa">
    </div>
</div>