<en-app-all-page-movistar></en-app-all-page-movistar>


<h1>I want to purchase </h1>
<h3>Prepago Total</h3>
<main>
    <div id="left">
        <h2>Next steps</h2>

        <p>In order to comply with current legislation, it is necessary to verify your identity. To do this you will need:</p>
        <ul>
            <li>Your original photo ID</li>
            <li>Taking a selfie</li>
            <li>Fill in your personal details </li>
        </ul>
        <p>You will immediately get your SIM or eSIM card to start talking and surfing with Movistar.</p>
    </div>
    <div id="right">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Purchase-summary-slide3&15.png" alt=""  loading="lazy">
    </div>
</main>
<p id="Bienvenidos">Welcome to Movistar!</p>
<div routerLink="/EN/homeCheckIdentity" id="loquieroSection">
    <img id="loquieroBtn" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Purchase.png" alt=""  loading="lazy">
</div>