<moov-hop-all-pages></moov-hop-all-pages>
<h1>CRÉER UN COMPTE</h1>
<h3>Je m'identifie à l'aide d'un document d'identité</h3>
<div class="container">
  <div class="row">
    <div href="" class="unSelectable">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/id-new.png" alt="id-new" loading="lazy">
    </div>
    <div href="" routerLink="/RNTP2023/createAccountCamera8000">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/id-old.png" alt="id-old" loading="lazy">
    </div>
    <div href="" class="unSelectable">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/passport.png" alt="passport" loading="lazy">
    </div>
  </div>
</div>