h1 {
    top: 23%;
    font-size: 4vw;
}

h2 {
    top: 33%;
    font-size: 3vw;
}

img {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 63%;
    left: 50%;
    width: 35vw;
}

#infoText{
  font-size: 1.5vw;
  position: fixed;
  top: 60%;
  left: 80%;
  width: 20%;
  transform: translate(-50%, -50%);
}
