<!-- PARCOURS CLIENTS -->

<div class="customerExperienceChoice scrollable-container" >
    <div class="containerDemo labiziJaiRdvChoice"routerLink="/labiziQrCode">
      <img src="./assets/Labizi/Logo.png" class="demoImage" >
      <div class="description">
        <h3> Labizi </h3>
        <p> Démo santé - scan de code bar et paiement simulé </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png" >
    </div>
    <div class="containerDemo labiziJePrendsRdvChoice" routerLink="/labiziCarteVitale">
      <img src="./assets/Labizi/Logo.png" class="demoImage">
      <div class="description">
        <h3> Labizi </h3>
        <p> Démo santé - scan de carte vitale et impression du ticket de file </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        >
    </div>
    <div class="containerDemo moovHop1000ScanThenRecupCard" routerLink="/moovopRecupCard">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop - version EK1000</h3>
        <p> Démo transports - scan qr code et distribution carte RFID </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
       >
    </div>
    <div class="containerDemo moovHop8000BuyUseCaseChoice" routerLink="/moovHopBuyUseCaseChooseTravel">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop - version EK8000</h3>
        <p> Démo transports - achat de titres de transports: pass ou ticket à l'unité </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        >
    </div>
    <div class="containerDemo moovHop8000ReloadUseCaseChoice" routerLink="/moovHopReloadUseCaseYourNeed">
      <img src="./assets/MoovHop/logo-app.png" class="demoImage">
      <div class="description">
        <h3> Moov'Hop - version EK8000 </h3>
        <p> Démo transports - rechargement de votre pass de transports </p>
      </div>
      <img class="playButton" src="./assets/DemoSKV2/all-pages-icon/play-button-arrowhead.png"
        >
    </div>
  </div>