* { 
    z-index: 1;
}

img{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 10vw;
}


h1 { 
    top: 35%; 
    width: 59%;
    text-align: center;     
    font-size: 4vw;
}

h2 {
    top: 50%;
    font-size: 3vw;   
}
