<en-app-all-page-movistar></en-app-all-page-movistar>

<section>
    <h1>We're almost done</h1>
    <main >
        <section id="left">
            <p style="margin-top: 0;">
                Your SIM will be delivered immediately after payment.   <br>
                The initial payment of  <span style="color:#8DC63F;">€20</span> 
                corresponds to the initial balance of €20 included in your new SIM.
            </p>
            <p>
                Here you can consult a  <a style="color: #00A0DC;"> summary of the conditions</a>, which are binding for Movistar if you complete the purchase at this time. 
                The details will be sent to your email after confirming the purchase.
            </p>
            <div id="condition">
                <input type="checkbox" name="condiciones" id="condiciones"><label for="condiciones">I have read and accept
                <span style="color:#00A0DC"> the product conditions</span>.</label>
            </div>
            
        </section>
        <section id="right">
            <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/purchase-summary-slide3&15.png" alt=""  loading="lazy">
        </section>
    </main>
    <section id="continuarSection" >
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Bouton-continue.png" alt=""  loading="lazy" id="continuarBtn">
    </section>
</section>