h1 {
    font-size: 4.5vw;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3{
    font-size: 2.5vw;
    position: fixed;
    top: 32%;
    font-family: GothamLight;
    width: 100%;
    text-align: center;
  }

.box{
    position: fixed;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 18vw;
    height: 18vw;
    border: 0.5vw solid #A6ED8E;
    border-radius: 2vw;
    text-align: center;
}

#box1{
    left: 50%;
    border: 0.5vw solid #A9E7F7;
}

#box2{
    left: 73%;
}

#box3{
    left: 27%;
}

img{
    width: 70%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
