<moov-hop-all-pages></moov-hop-all-pages>
<div>
    <h1> CRÉER UN COMPTE </h1>
    <h3>Vérifiez et complétez vos informations !</h3>
    <div class="allElement">
        <form>
            <section>
                <label for="prenom"><b>Prénom</b></label>
                <input type="text" name="prenom" value="Sylvain">
            </section>
            <br>
            <section>
                <label for="nom"><b>Nom</b></label>
                <input type="text" name="nom" value="PERRIN">
            </section>
            <br>
            <section>
                <label for="dateNaissance"><b>Date de naissance</b></label>
                <input type="date" name="dateNaissance" value="1983-05-14">
            </section>
            <br>
            <section>
                <label for="mail"><b>E-mail</b></label>
                <input type="text" name="mail">
            </section>
        </form>
    </div>
    <div class="nextStep" routerLink="/RNTP2023/createAccountCamera8000">
        Etape Suivante
    </div>

</div>