@font-face {
  font-family: MPlusRoundedBold;
  src: url(../assets/DemoSKV2/MPLUSRounded1c-Bold.ttf);
}

@font-face {
  font-family: MPlusRoundedBlack;
  src: url(../assets/DemoSKV2/MPLUSRounded1c-Black.ttf);
}

@font-face {
  font-family: MPlusRoundedLight;
  src: url(../assets/DemoSKV2/MPLUSRounded1c-Light.ttf);
}

body{
  height: fit-content !important;
}