<en-app-all-page-movistar></en-app-all-page-movistar>


<h1>Follow the instructions on the payment terminal  </h1>
<h3>to complete your purchase. </h3>
<section id="countdownSection">
    <h3>{{countdown}}</h3>
    <img  id="countdown" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/countdown.gif" alt=""  loading="lazy">
</section>
<main>
    
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/TPE.png" alt=""  loading="lazy" id="TPE">
    <h2 style="margin-top: auto;">
        Amount: <br>  € 20,00
    </h2>
</main>