<app-all-page-movistar></app-all-page-movistar>
<h1>Verifica tu idenditad</h1>
<p id="intro">Tu seguridad, aún mejor. <br> Para empezar, completa estos sencillos pasos</p>

<main>
    <div id="procedureWay">
        <div id="picto">
            <img id="Picto-verifica-ID" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Picto-verifica-ID.png" alt=""  loading="lazy">
        </div>
        <div id="textPart">
            <p class="bold">Hazte un selfi</p>
            <p><span  class="bold">Haz una foto de tu documento </span><br> DNI, pasaporte o NIE con foto</p>
        </div>
    </div>

</main>
    
<div id="Bouton-continuar" routerLink="/ES/faceCapture">
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Bouton-continuar.png" alt=""  loading="lazy">
</div>