h1 {
  font-size: 4.5vw;
  position: fixed;
  top: 25%;
  left: 53%;
  width: 70%;
  transform: translate(-50%, -50%);
}

h3 {
  font-size: 2.5vw;
  position: fixed;
  top: 74.5%;
  left: 25.5%;
  font-family: 'GothamLight';
  color: #A6ED8E;
}

img {
  position: fixed;
  transform: translate(-50%, -50%);
}

#journeyTicket {
  top: 60%;
  left: 35%;
  width: 13%;
}

#journeyPass {
  top: 60%;
  left: 63%;
  width: 16%;
}

#moovPass {
  top: 83%;
  left: 63%;
  width: 15%;
}
