<en-app-all-page-movistar></en-app-all-page-movistar>

<h1>Verify your identity</h1>
<p id="intro">Your security, even better.  <br> To get started, complete these simple steps.</p>

<main>
    <div id="procedureWay">
        <div id="picto">
            <img id="Picto-verifica-ID" src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Picto-verifica-ID.png" alt=""  loading="lazy">
        </div>
        <div id="textPart">
            <p class="bold">Take a selfie</p>
            <p><span  class="bold">Take a photo of your document </span><br> DNI, passport or NIE with photo</p>
        </div>
    </div>

</main>
    
<div id="Bouton-continuar" routerLink="/EN/faceCapture">
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Bouton-continue.png" alt=""  loading="lazy">
</div>