<div class="divBody">

  <!-- bouton skip -->
  <div class="moovopSkip" [routerLink]="'..' + moovopNavigateTo">
    Skip
  </div>

  <!-- logo IPM -->
  <div class="moovopLogo" routerLink="/moovopRecupCard"> </div>

  <!-- affichage services en status critical -->
  <div class="moovopCriticalService">
  </div>
  <label id="tempUnavailableService" > {{ arrayServiceStatusTempUnavailable }}</label>
  <label class="warningServices"> {{ messageBarcode }} </label>
  <label class="warningServices" id="cardDispenserMessage"> {{ messageCardDispenser }}</label>
</div>
