.divBody {
  position: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url('../../../../assets/Moovop/MoovopBackground.png');
}

.moovopSkip {
  position: fixed;
  background-color: #A6ED8E;
  font-family: 'LemonMilkMedium';
  text-align: center;
  z-index: 0;
  line-height: 2.2vw;
  font-size: 1.4vw;
  color: #fff;
  height: 2.2vw;
  width: 7.5vw;
  bottom: 0;
  right: 0;
  margin: 0.5vw;
  border-radius: 2vw;
  transform: translate(-50%, -50%);
}
.moovopLogo {
  position: fixed;
  margin-left: 10%;
  margin-top: 7%;
  background-color: transparent;
  opacity: 50%;
  border-radius: 5vw;
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 10vw;
}

.moovopCriticalService {
  position: fixed;
  display: flex;
  label {
    color: #16968d;
    font-family: 'LemonMilkMedium';
  }
  left: 5%;
  top: 90%;
  text-align: center;
  width: 45%;
  height: 5%;
}

#undefinedServices {
  position: fixed;
  display: flex;
  color: red;
  top: 80%;
  left: 5%;
  width: 45%;
  height: 5%;
}

#tempUnavailableService {
  position: fixed;
  display: flex;
  color: violet;
  top: 85%;
  left: 5%;
  width: 45%;
  height: 5%;
}

#warningServices {
  position: fixed;
  display: flex;
  color: orange;
  top: 75%;
  left: 5%;
  width: 45%;
  height: 5%;
}

#cardDispenserMessage {
  width: 60%;
}
