<moov-hop-all-pages></moov-hop-all-pages>
<h1>BIENVENUE !</h1>
<div class="container">
  <div class="row">
    <div routerLink="/AGIR2024/createAccountMenu" (click)="Choix(1)">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/sub.png" alt="sub" loading="lazy">
    </div>
    <div routerLink="/AGIR2024/printingMenu" (click)="Choix(2)">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/print.png" alt="print" loading="lazy">
    </div>
    <div routerLink="/AGIR2024/identificationMenu" (click)="Choix(3)">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/pay.png" alt="pay" loading="lazy">
    </div>
  </div>
</div>

