<moov-hop-all-pages></moov-hop-all-pages>
<div>
  <h1>Sélectionnez</h1>
  <h3>Votre moyen de paiement !</h3>
  <div class="box" id="box1" routerLink="/moovHopBuyUseCaseCashPaymentTwo">
    <img src="./assets/MoovHop/pay-cash.png" alt="cash">
  </div>
  <div class="box" id="box2">
    <img src="./assets/MoovHop/pay-mobile.png" alt="Alipay" routerLink="/moovHopBuyUseCaseQrCodeTwo">
  </div>
  <div class="box" id="box3" routerLink="/moovHopBuyUseCaseCardPaymentTwo">
    <img src="./assets/MoovHop/pay-cb.png" alt="card">
  </div>
</div>
