<moov-hop-all-pages></moov-hop-all-pages>

<h1>Select </h1>
<h3>Your payment method!</h3>
<div class="container">
  <section class="row">
    <div href="" routerLink="/MWC2024/paymentCB">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-bankcard.png" alt="cash" loading="lazy">
    </div>
    <div href="" routerLink="/MWC2024/paymentAppMobile">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-mobileAPP.png" alt="card" (click)="paymentByCard()" loading="lazy">
    </div>
    <div href="" routerLink="/MWC2024/paymentMobileOp">
      <img src="./assets/MOOVHOP-EK4000-2024-MWC/Bouton-mobileOP.png" alt="Alipay" loading="lazy">
    </div>
  </section>
</div>