h1 {
  font-size: 4.5vw;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-size: 3.5vw;
  position: relative;
  font-family: 'LemonMilkMedium';
  top: 5%;
}

p {
  font-size: 3vw;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#choice1,
#subChoice1 {
  color: #A9E7F7;
}

#choice2,
#subChoice2 {
  color: #A6ED8E;
}

.box {
  position: fixed;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 15vw;
  border-radius: 4vw;
  text-align: center;
}

#box1 {
  left: 35%;
  border: 0.8vw solid #A6ED8E;
}

#box2 {
  left: 65%;
  border: 0.8vw solid #A9E7F7;
}
