<moov-hop-all-pages></moov-hop-all-pages>


<h1>Coupon</h1>
<h3>Disposez-vous d'un QR code commerçant ?</h3>
<div class="container">
    <section class="row">
        <a href="" routerLink="/AGIR2024/createAccountQRCodeScan">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/OUI.png" alt="" loading="lazy">
        </a>
        <a href="" routerLink="/AGIR2024/paymentChoice">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/NON.png" alt="" loading="lazy">
        </a>

    </section>

</div>