<moov-hop-all-pages></moov-hop-all-pages>

<h1>Sélectionnez</h1>
<h3>Votre moyen de paiement !</h3>
<div class="container">
  <section class="row">
    <div href="" routerLink="/paymentCB">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/CB.png" alt="cash" loading="lazy">
    </div>
    <div href="" routerLink="/paymentAppMobile">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/APPMOBILE.png" alt="card" (click)="paymentByCard()" loading="lazy">
    </div>
    <div href="" routerLink="/paymentMobileOp">
      <img src="./assets/MOOVHOP-EK4000-2023-RNTP/OPMOBILE.png" alt="Alipay" loading="lazy">
    </div>
  </section>
</div>