* {
    z-index: 1;
}

.image {

    position: fixed;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 39%;
    width: 80%;
    height: 20%;
    margin: 0% 10%;
    gap: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    top: 23%;
    font-size: 4vw;
}

h2 {
    top: 33%;
    font-size: 3vw;
}

p {
    color: #1fd1d1;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'FreshFruit';
    top: 73%;
    width: 24%;
    display: flex;
}

#paragraph1 {
    left: 32%;
    font-size: 1.5vw;

}

#paragraph2 {
    left: 60.6%;
    font-size: 1.5vw;

}

#paragraph3 {
    left: 80.5%;
    font-size: 1.5vw;

}

.nextStep {
    top:90%;
    z-index: 0;
}

.nextStepContainer {
  height: 15%;
  top: 80%;
  z-index: 2;
}
