<labizi-all-pages></labizi-all-pages>


<h1> Mon rendez-vous</h1>
<h2> récapitulatif</h2>

<div class="image" >
    <img src="./assets/Labizi/Calendrier.png">
    <img src="./assets/Labizi/Heure.png">
    <img src="./assets/Labizi/Docteur.png">

</div>

    <p id="paragraph1"> Le {{finalDateToDisplay}}</p>
    <p id="paragraph2"> {{ finalHourToDisplay }} </p>
    <p id="paragraph3"> Dr. Dupont </p>


<div class="nextStep">
    Étape suivante
</div>
<div class="nextStepContainer"  routerLink="/labiziPay"></div>

