<moov-hop-all-pages></moov-hop-all-pages>

<div><!--Après 10 secondes passer à la page suivante, remise de 20 % sur le total-->
    <h1>Coupon</h1>
    <h3>Scannez le QR code donné par cotre commerçant !</h3>
    
    <section class="yourNeed">
        <section class="textPage">
        <p>Suite à votre achat au centre commercial "La Terrasse", votre commerçant vous a remis un 
            QR code.
        </p>
        <p id="bold">Scannez-le sur la borne pour bénéficier d'une remise !</p>

        <section class="textAdd" id="textAdd">
            <img src="./assets/MOOVHOP-EK4000-2023-RNTP/Check.png" alt="" id="check" >
            <p class="AddScan" id="AddScan">Remise appliquée</p>
        </section>

        </section>
        <img src="./assets/MOOVHOP-EK4000-2023-RNTP/PictoBorne.png" alt="" id="borne" loading="lazy">
        
    </section>
    
</div>