.carte1Image {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 48%;
  left: 28%;
  width: 20vw;
}

.recupCardTitle {
  display: flex;
  position: absolute;
  flex-direction: row;
  transform: translate(-50%, -50%);
  color: #16968d;
  font-family: 'LemonMilkMedium';
  font-size:2.5vw;
  top: 45%;
  left: 52%;
  width: 55%;
  height: 25%;
  text-align: end;
}

