<div id="divBtnLanguage">
    <div routerLink="/ES/homePageTelefonica">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/spain.png" alt=""  loading="lazy">
    </div>
    <div routerLink="/EN/homePageTelefonica">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/england.png" alt=""  loading="lazy">
    </div>
</div>
<div class="main">
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/Logo-movistar.png" alt=""  loading="lazy" id="movistarTitle">
    <span class="title">Looking for a Movistar prepaid SIM card?</span>
    <h2>Select the tariff that best suits you and get your Movistar SIM card right away</h2>
    <div routerLink="/EN/prepaidTariffs" id="divBtnInteresa">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Bouton-I-am-interested.png" alt=""  loading="lazy" id="btnInteresa">
    </div>
</div>