<div class="containerTouch">
        <button class="paperButton" type="button" onclick=changePaper()>
            <img id="paper" src="./assets/DemoSKV2/paper.png">
        </button>
        <img id="paperBall" src="./assets/DemoSKV2/paperBall.png">
        <img id="arrow" src="./assets/DemoSKV2/arrow.gif">
        <img id="invertedArrow" src="./assets/DemoSKV2/invertedArrow.gif">
        <img id="pinchArrow1" src="./assets/DemoSKV2/pinchArrow1.gif">
        <img id="pinchArrow2" src="./assets/DemoSKV2/pinchArrow2.gif">
        <img id="emptyBin" src="./assets/DemoSKV2/emptyBin.png">
        <img id="littleBin1" src="./assets/DemoSKV2/littleBin1.png">
        <img id="littleBin2" src="./assets/DemoSKV2/littleBin2.png">
    </div>