<div class="containerTouch">
        <button class="paperButton" type="button" onclick=changePaper()>
            <img id="paper" src="../assets/paper.png">
        </button>
        <img id="paperBall" src="../assets/paperBall.png">
        <img id="arrow" src="../assets/arrow.gif">
        <img id="invertedArrow" src="../assets/invertedArrow.gif">
        <img id="pinchArrow1" src="../assets/pinchArrow1.gif">
        <img id="pinchArrow2" src="../assets/pinchArrow2.gif">
        <img id="emptyBin" src="../assets/emptyBin.png">
        <img id="littleBin1" src="../assets/littleBin1.png">
        <img id="littleBin2" src="../assets/littleBin2.png">
    </div>