<moov-hop-all-pages></moov-hop-all-pages>
<h1>IMPRIMEZ</h1>
<h3>la fiche horaire de la ligne de votre choix</h3>
<div class="container">
  <div class="row">
    <div routerLink="/printingInformationChoice"><img src="./assets/MOOVHOP-EK4000-2023-RNTP/cite1.png" alt="1" (click)="Choose(1)" loading="lazy"></div>
    <div routerLink="/printingInformationChoice"><img src="./assets/MOOVHOP-EK4000-2023-RNTP/cite2.png" alt="2" (click)="Choose(2)" loading="lazy"></div>
    <div routerLink="/printingInformationChoice"><img src="./assets/MOOVHOP-EK4000-2023-RNTP/cite3.png" alt="3" (click)="Choose(3)" loading="lazy"></div>
    <div routerLink="/printingInformationChoice"> <img src="./assets/MOOVHOP-EK4000-2023-RNTP/cite4.png" alt="4" (click)="Choose(4)" loading="lazy"></div>
  </div>
</div>