<en-app-all-page-movistar></en-app-all-page-movistar>

<h1>Choose a document</h1>
<h2>Select the country or region of issue:</h2>
<div id="paisList">
    <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Bouton-Spain.png" alt="" loading="lazy" id="pais">
</div>
<div id="divDocumento">
    <h2>Select the type of document you wish to upload:</h2>
    <div id="documentoList">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Bouton-passport.png" alt="" loading="lazy" class="documento" (click)="selectDocument('pasaporte')">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Bouton-driving-licence.png" alt="" loading="lazy" class="documento" (click)="selectDocument('permisoDeConducir')">
        <img src="./assets/TELEFONICA-EK3000-2024-MOVISTAR/EN/Bouton-ID-card.png" alt="" loading="lazy" class="documento" (click)="selectDocument('documentoDeIdentidad')">
    </div>
</div>


